extends layout

block content
	h1.addNewTitle #{title}
	form(method='POST',action='/articles')
		.form-group
			label Title:
			input.form-control.inputTitle(name='title',type='text')
		.form-group
			label Author:
			input.form-control.inputAuthor(name='author',type='text')
		.form-group
			label Body
			textarea.form-control.inputBody(name='body')
		input.btn.btn-primary.btn-block.inputSubmit(type='submit',value='submit')
	 
